<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
    </p>
    <p class="mb-1">The Parts Tracker is &copy; The Here and Now Company. The information on this site is not intended or implied to be a substitute for professional medical advice, diagnosis or treatment. All content, including text, graphics, images and information, contained on or available through this web site is for general information purposes only.</p>
    <p class="mb-0">New to parts work? Visit <a href="/">this site</a> for more info or order a copy of <a href="../getting-started/introduction/">No Bad Parts</a> today.</p>
  </div>
</footer>
