<div class="max-w-2xl p-8 rounded-xl mx-auto text-center my-16 bg-gray-50">
  <h1 class="font-black text-3xl">Internal Family Systems</h1>

  <p class="text-lg text-gray-600 my-4">Internal Family Systems (IFS) uses Family Systems theory—the idea that individuals cannot be fully understood in isolation from the family unit—to develop techniques and strategies to effectively address issues within a person’s internal community or family. This evidence-based approach assumes each individual possesses a variety of sub-personalities, or “parts,” and attempts to get to know each of these parts better to achieve healing.

By learning how different parts function as a system and how the overall system reacts to other systems and other people, people in therapy can often, with the help of a trained mental health professional, become better able to identify the roots of conflict, manage any complications arising, and achieve greater well-being. </p>

  <div class="flex items-center space-x-3">
    <%= link_to "Sign in", users.sign_in_path, class: "bg-sky-500 
    px-3 py-2 font-semibold" %> <%= link_to "Create account", new_user_path,
    class: "bg-sky-500  px-3 py-2 font-semibold" %>
  </div>
</div>
